@media (max-width: 375px) {
  body {
    height: 66.7rem;
  }
  .card {
    margin-top: 6.8%;
    padding: 2.4rem 2.4rem 2.6rem;
  }
  .img-equilibrium {
    width: 27.8rem;
  }
  .card-container {
    max-width: 27.8rem;
  }
  .text {
    margin-top: 5%;
    font-size: 1.6rem;
    line-height: 1.6;
  }

  .info {
    margin-top: 5%;
    padding-bottom: 6%;
  }
  .author-text {
    letter-spacing: -0.3px;
  }
  .days-text {
    letter-spacing: -0.1px;
  }
  .eth-text {
    letter-spacing: -0.2px;
  }
}
