.input-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem 4.9rem 2rem 0;
  gap: 5rem;
}
.input-fields {
  display: flex;
  flex-direction: column;
  align-self: stretch;
}
.input-label {
  font-size: 2rem;
  font-weight: $font-bold;
  margin-bottom: 0.8rem;
  display: flex;
  justify-content: space-between;
}
.input-data {
  border-radius: 5px;
  color: $very-dark-cyan;
  background-color: $light-grayish-cyan2;
  height: 5.4rem;
  border: none;
  flex-grow: 1;
  text-align: end;
  font-size: 3rem;
  font-family: $font-family;
  font-weight: bold;
  padding-right: 2rem;
}

.input-data::-webkit-outer-spin-button,
.input-data::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.custom {
  width: auto;
  text-align: center;
  width: 100%;
  padding-right: 0;
}
.err-message {
  color: rgba(255, 0, 0, 0.7);
  visibility: hidden;
}
.input-data::placeholder {
  color: $dark-grayish-cyan2;
}
.tip-buttons {
  margin-top: 1.2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.btn-tip {
  border-radius: 8px;
  height: 5.7rem;
  font-family: $font-family;
  font-weight: $font-bold;
  font-size: 3rem;
  background-color: $very-dark-cyan;
  color: $white;
  border: none;
}
.btn-custom {
  background-color: $light-grayish-cyan2;
  color: $dark-grayish-cyan;
}
.input-with-icon {
  display: flex;
  align-items: center;
  position: relative;
}
.input-icon {
  height: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(180%, 100%);
  z-index: 1;
}
