.modalAddOn {
  z-index: 9999;
  display: flex;
  width: 63.5rem;
  border: 2px solid hsl(176, 50%, 47%);
  border-top: none;
  margin-top: -2px;
  border-radius: 0 0 8px 8px;
  align-items: center;
}
.pledgeContainer {
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 2px;
}

.enterPledge {
  font-size: 1.5rem;
  color: hsl(0, 0%, 48%);
  margin-left: 2.6rem;
}

.btnAndInputStyles {
  border-radius: 100px;
  height: 4.8rem;
}

.btnContinue {
  background-color: hsl(176, 50%, 47%);
  border: none;
  color: white;
  width: 11rem;
  margin: 2.5rem 2.5rem 2.2rem auto;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.btnContinue:hover {
  cursor: pointer;
  background-color: hsl(176, 72%, 28%);
}

.dollarSign {
  font-size: 1.4rem;
  font-weight: 700;
  color: hsl(0, 0%, 48%);
  opacity: 0.8;
  position: absolute;
  z-index: 9999;
  right: 6.8rem;
}

.input {
  margin-left: 23rem;
  width: 10rem;
  border: 1.2px solid hsl(176, 50%, 47%);
  text-align: center;
  padding-left: 2rem;
  padding-top: 0.3rem;
  font-weight: 700;
}

.input:focus {
  outline: none;
  border: 1.4px solid hsl(176, 72%, 28%);
}

.input:hover {
  cursor: pointer;
  border: 1.4px solid hsl(176, 72%, 28%);
}

.enterPledgeMobile {
  display: none;
}

@media (max-width: 600px) {
  .modalAddOn {
    display: flex;
    flex-direction: column;
    width: 27.8rem;
    margin: -0.2rem auto 0;
    align-items: center;
  }
  .enterPledge {
    margin: 0;
    margin-top: 2.9rem;
    font-size: 1.4rem;
  }
  .btnContinue {
    display: none;
  }
  .dollarSign {
    display: none;
  }
  .input {
    display: none;
  }
}
