.info {
  margin: 4.5rem auto 0;
  width: 33rem;
  text-align: center;
}
.info__title {
  font-size: 3.2rem;
  color: hsl(223, 47%, 23%);
  font-weight: 900;
}
.info__info {
  font-size: 1.8rem;
  margin-top: 1.7rem;
  line-height: 1.6;
  color: hsl(224, 23%, 55%);
}

@media (max-width: 625px) {
  .info {
    margin: 3.8rem auto 0;
    width: 32rem;
  }
  .info__title {
    font-size: 2.8rem;
  }
  .info__info {
    font-size: 1.9rem;
    margin-top: 2rem;
    line-height: 1.6;
  }
}
